{% extends "layout.html" %}

{% block title %}
    {{ movie_details['title'] }}
{% endblock %}

{% block main %}
    <body>
        <div class="feed">
            <img src="{{ backdrop }}" class ="backdrop" alt="{{ movie_details['title'] }} Backdrop">
            <div class="poster_title">
                <img src="https://image.tmdb.org/t/p/w500{{ movie_details['poster_path'] }}"  alt="{{ movie_details['title'] }} Poster">
                <h1 class = "title">{{ movie_details['title'] }}</h1>
                <div class= "rating-container">
                <form id="ratingForm" method="post" action="/movie/{{ movie_name }}">
                    <h1>Rate</h1>
                        <fieldset class="rate">
                            <input type="radio" id="rating10" name="rating" value="5" {% if 5.0 in user_ratings|map("float") %} checked {% endif %} /><label for="rating10" title="5 stars"></label>
                            <input type="radio" id="rating9" name="rating" value="4.5" {% if 4.5 in user_ratings|map("float") %} checked {% endif %}/><label class="half" for="rating9" title="4 1/2 stars"></label>
                            <input type="radio" id="rating8" name="rating" value="4" {% if 4.0 in user_ratings|map("float") %} checked {% endif %}/><label for="rating8" title="4 stars"></label>
                            <input type="radio" id="rating7" name="rating" value="3.5" {% if 3.5 in user_ratings|map("float") %} checked {% endif %}/><label class="half" for="rating7" title="3 1/2 stars"></label>
                            <input type="radio" id="rating6" name="rating" value="3" {% if 3.0 in user_ratings|map("float") %} checked {% endif %}/><label for="rating6" title="3 stars"></label>
                            <input type="radio" id="rating5" name="rating" value="2.5" {% if 2.5 in user_ratings|map("float") %} checked {% endif %}/><label class="half" for="rating5" title="2 1/2 stars"></label>
                            <input type="radio" id="rating4" name="rating" value="2" {% if 2.0 in user_ratings|map("float") %} checked {% endif %}/><label for="rating4" title="2 stars"></label>
                            <input type="radio" id="rating3" name="rating" value="1.5" {% if 1.5 in user_ratings|map("float") %} checked {% endif %}/><label class="half" for="rating3" title="1 1/2 stars"></label>
                            <input type="radio" id="rating2" name="rating" value="1" {% if 1.0 in user_ratings|map("float") %} checked {% endif %}/><label for="rating2" title="1 star"></label>
                            <input type="radio" id="rating1" name="rating" value="0.5" {% if 0.5 in user_ratings|map("float") %} checked {% endif %}/><label class="half" for="rating1" title="1/2 star"></label>
                    </fieldset>
                </form>
                </div>
            </div>
            <div class = "details">
                <p class="tagline">{{ movie_details['tagline'] }}</p> 
                <p>{{ movie_details['overview'] }}</p> 
            </div>
        </div>
        <script src="../static/script.js"></script>
    </body>
{% endblock %}